*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fira-code-dark-mode-500 {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.recruitmentPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1E1E1E;
}
.recruitmentPage navbar{
    width: 100%;
    text-align: center;
    height: 10%;
}
.content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.recruitmentleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recruitmentleft #formLink{
    font-size: 2.5rem;
    color: white;
    margin: 1rem;
    text-decoration: none;
}
.recruitmentleft p{
    color: white;
    text-decoration: none;
    margin: 1rem;   
}
.recruitmentleft #navigate{
    background-color: white;
    padding: 0.8rem;
    color: purple;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    font-weight: 600;
}
.recruitmentleft #navigate:hover{
    box-shadow: 4px 4px 5px rgba(235, 131, 235, 0.6);
}
.recruitmentright{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recruitmentPage footer{
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
}

@media screen and (max-width:850px){
    .recruitmentPage .content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recruitmentPage .content .recruitmentleft{
        width: 100%;
        text-align: center;
    }
    .recruitmentPage .content .recruitmentright img{
        width: 80%;
        height: 80%;
        overflow: hidden;
    }
}

@media screen and (max-width:480px) {
    .recruitmentPage{
        display: flex;
        flex-direction: column;
    }
    .recruitmentPage .content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recruitmentPage .content .recruitmentleft{
        width: 100%;
        text-align: center;
    }
    .recruitmentleft #navigate{
        width: 30%;
        height: 20%;
        font-size: 14px;
    }
    .content .recruitmentright img{
        width: 100%;
        height: 80%;
    }
    
}
